streamlit>=1.38
numpy>=1.26
pandas>=2.2
matplotlib>=3.8
astropy>=5.3
astroquery>=0.4
lightkurve>=2.5
plotly>=5.22
# kaleido enables static image export from Plotly; optional
kaleido>=0.2.1
scikit-learn>=1.4
joblib>=1.4
shap>=0.41
# optional
# transitleastsquares>=1.0.31